body {
  padding-left: 0.5%;
  padding-right: 0.5%;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.on-button-container {
  padding: 3em;
}

.on-button {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  color: #363f4f;
  font-size: 2.5em;
  background: yellow;
  border: none;
  font-style: bold;
  letter-spacing: .2em;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 1%;
  /*padding-left: 1%;*/
}

.container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 1%;
  /*padding-left: 1%;*/
}

#container-watch-words {
  flex: 1;
}

.container-right {
  flex: 2;
  padding-left: 1.5%;
}
